*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
    margin: 1.5em;
}
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
  
th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white; 
}
h1{
    text-align: center;
}
input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
}
   
button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}